<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>{{ title }} - Banco de preguntas</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fontello.css') }}">
</head>
<body>

	<div class="d-flex {{ menu }}" id="wrapper">
	
		<!-- Sidebar -->
		<div class="bg-light border-right" id="sidebar-wrapper">
			<div class="sidebar-heading">MENU</div>
			<div class="list-group list-group-flush">
				{% if entidades %}
					{% for entidad in entidades %}
					{%if  entidad not in ['evaluaciones_preguntas' ,'categorias_competencias' ,'evaluaciones_competencias','role','niveles_categorias']%}
						{% if title == entidad %}
						<a href="{{ url_for('list', entidad=entidad) }}" class="list-group-item list-group-item-action bg-light text-primary">{{ entidad.upper() }}</a>
						{% else %}
						<a href="{{ url_for('list', entidad=entidad) }}" class="list-group-item list-group-item-action bg-light">{{ entidad.upper() }}</a>
						{% endif %}
					{% endif %}
					{% endfor %}
					<a href="{{ url_for('logout') }}" class="list-group-item list-group-item-action bg-light text-danger">CERRAR SESIÓN</a>
				{% else %}
					<a href="{{ url_for('login') }}" class="list-group-item list-group-item-action bg-light">INGRESAR</a>
					<a href="{{ url_for('signup') }}" class="list-group-item list-group-item-action bg-light">REGISTRARSE</a>
				{% endif %}
			</div>
		</div>
		<!-- /#sidebar-wrapper -->
	
		<!-- Page Content -->
		<div id="page-content-wrapper">
	
			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<button class="btn" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
	
				<a href="{{ url_for('home') }}" class="navbar-brand ml-auto mr-auto">BANCO DE PREGUNTAS</a>
			</nav>
	
			<div class="container-fluid">
				{% with messages = get_flashed_messages(with_categories=true)  %}
					{% if messages %}
						{% for category, message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
				{% block content %}
				{% endblock%}
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	
	</div>
	<!-- /#wrapper -->
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

	<!-- Menu Toggle Script -->
	<script>
		$("#menu-toggle").click(function (e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>
</body>
</html>
