{% extends 'layout.html' %}

{% block content %}
<h1 class="text-center" style="margin-top: 30px;">{{ entidad.upper() }}</h1>

{% if entidad != 'usuarios' %}
<a href="{{ url_for('add', entidad=entidad) }}" class="btn btn-success ml-auto">Agregar</a>
{% endif %}

<table class="table table-striped" style="margin-top:20px;">
    <thead class="thead-dark">
        <tr>
        {% for campo in campos %}
            <th scope="col">{{ campo['name'][4:].upper() }}</th>
        {% endfor %}
            <th scope="col">ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        {% for registro in registros %}
        <tr>
            {% for campo in campos %}
                <td>{{ registro.get_atr(campo['name']) }}</td>
            {% endfor %}
                <td>
                    <a href="{{ url_for('edit', entidad=entidad, id=registro.id) }}" class="btn btn-primary ml-auto">Editar</a>
                    <a href="{{ url_for('delete', entidad=entidad, id=registro.id) }}" class="btn btn-danger ml-auto">Eliminar</a>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/"><span class="icon-home"></span> Volver a la página principal</a>
{% endblock %}